<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/logoconejo.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 ">
        <p id="datos1">{{persona.nombre}} {{persona.apellido}}</p>
        <p id="datos2">Futuro full stack developer jr.</p>
    </div >
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, tempora accusantium. 
                Sapiente omnis iste nam earum, 
                incidunt eius at dicta quod animi asperiores sequi temporibus libero? Nostrum repellendus deserunt rerum!</p>



        </span>
    </div>
</div>
