<div class="row">
    <h1>Experiencias Laborales</h1>
            <h3>Proyectos Realizados</h3>
        <div class="col-lg-1 border"></div>
            <div class="col-lg-11 border">
                <ul>
                    <li>
                        <h1>Trabajo 1</h1> -
                        <h3>years</h3>
                    </li>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, consequatur.</p>
                </ul>


                <ul>
                    <li>
                        <h1>Trabajo 2</h1> -
                        <h3>years</h3>
                    </li>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, consequatur.</p>
                </ul>


            </div>  
 
 



</div>